#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp LG(T)      &kp LC(LA(LEFT)) &kp LC(LA(RIGHT)) 
                &kp LG(E)      &kp LC(C)        &kp LC(V)        
                &kp LA(F4)     &kp C_VOL_UP     &kp C_VOL_DN     
                &kp C_PP       &kp C_NEXT       &kp C_PREV       
            >;
        };
    };
};
