name: Build
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ZMK Firmware
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            modules
            zephyr
            bootloader
          key: ${{ runner.os }}-build-zmk-${{ hashFiles('**/west.yml') }}

      - name: Build ZMK
        uses: zmkfirmware/zmk-build-action@v3
        with:
          # Hier nutzt die Action automatisch deine build.yaml aus dem Hauptverzeichnis
          board: nice_nano_v2
          shield: macro12

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.uf2
